body {
    font-family: "Roboto", Sans-serif;
}

.container {
    /* max-width: 1200px; */
    margin: auto;
    padding: 0 20px;
}

footer {
    background: 	#F5F5F5;
    color: #333333;
    padding: 50px 0;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.12);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-right: 14px;
    max-width: 180px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    color: #30343d;
    font-weight: 700;
}
nav a:hover {
    opacity: 0.6;
}

.button {
    padding: 16px 30px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 10px;
    color:#c2b280;
    /* background-color: #FFD700;
    border: 1px solid #FFD700; */
    background-color: none;
    border: 1px solid #c2b280;
}
.button:hover {
    color:#fff;
    background-color: #c2b280;
    border-color: #c2b280;
}

.intro {
    margin-top: 80px;
    padding: 50px 0;
    background-color: rgba(146, 106, 232, 0);
}

.intro-content {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    place-items: center;
    gap: 30px;
}

.intro p {
    color: #686767;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
    line-height: 1.7em;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: 200;
}


.intro img {
    border-radius: 5%;
    width: 80%;
    border: 4px solid #c2b280;
}

.about-social {
    margin: 20px 0;
}

.about-social ul {
    margin:  0;
    padding: 0;
    display: flex;
    gap: 10px;
    list-style: none;
}

.about-social a {
    color: white;
    background: #DCE9F8;
    font-size: 25px;
    width: 40px;
    height: 40px;
    /* border: solid #DCE9F8; */
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-social a:hover {
    background-color: #c2b280;
}

.after-intro-content {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    /* place-items: center; */
    gap: 100px;
}
.after-intro-content h2 {
    text-align: justify;
}

.after-intro-content p {
    color: #686767;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: justify;
}
.icon-list {
    margin: 20px 0;
}

.icon-list ul {
    margin:  0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.icon-list a {
    color: #c2b280;
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 0;
}
.icon-list a:hover {
    color: #6b5a28;
}
.icon-list-text {
    padding-left: -45px;
    color: #686767;
    font-size: 15px;
    letter-spacing: 2px;
    
}